.blog-list{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.blog-list__items{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,260px));
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.blog-list__item{
    margin-bottom: 10px;
    border-radius: 12px;
    background: #E6E7EE;
    padding: 10px;
    box-shadow:  5px 5px 10px #CDCDCD,-5px -5px 10px #FFFFFF;
}

.blog-list__item-content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
