.deletePost{
  text-align: center;
  margin: 0 auto;

}

.deletePost__byebye{
  max-width: 212px;
  width: 100%;
  height: 56px;
  line-height: 56px;
  box-shadow:  6px 6px 20px #c8c9cc, -6px -6px 20px #ffffff;
  padding: 0 20px;
  background: #E6E7EE;
  border-radius: 35px;
  margin: 0 auto;
  cursor: pointer;
}


.deletePost__byebye:hover {
  animation: press 0.1s forwards;
}

.deletePost__byebye:not(:hover){
  animation: release 0.1s forwards;
}
