.mypage__user--noNickName::before{
    content: "!";
    border: solid 1px;
    border-radius: 50%;
    display: inline-block;
    width: 18px;
    height: 20px;
}

.mypage__user--profilePicture img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
}