.header{
    min-height: 819px;
    min-width: 233px;
    background: #E6E7EE;
    padding: 10px;
    padding-left: 24px;
    box-shadow:  10px 10px 15px #CDCDCD,-10px -10px 15px #FFFFFF;
}

.header__links a{
    margin-bottom: 47px;
}

.header__button{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.header__button-img{
    width: 50px;
    height: 50px;
    background-color: transparent linear-gradient(311deg,#E6E7EE 0%,#E5E6EC 100%) 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 20px#CDCDCD,-6px -6px 20px #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.header__button-img img{
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.header__button-text{
    font-size: 16px;
    color: #575F6B;
    font-family: "Sofia Pro";
}

.header__button:hover .header__button-img{
    animation: press 0.12s forwards;
}

.header__button:not(:hover) .header__button-img{
    animation: release 0.12s forwards;
}

