.post{
    max-width: 1000px;
    margin: 0 auto;
}

.post h1 {
    text-align: center;
}

.post__title input {
    border: none;
    width: 100%;
    margin-bottom: 40px;
    border-radius: 12px;
    background: #E6E7EE;
    padding: 10px;
    box-shadow:  5px 5px 10px #CDCDCD,-5px -5px 10px #FFFFFF;
}

.post__content input {
    width: 100%;
    border: none;
    margin-bottom: 10px;
    border-radius: 12px;
    background: #E6E7EE;
    padding: 10px;
    box-shadow:  5px 5px 10px #CDCDCD,-5px -5px 10px #FFFFFF;
}