
.post{
    max-width: 1000px;
    margin: 0 auto;
}

.post-list{
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;

}

.post-list p{
  white-space: normal;
  word-wrap: break-word;
}


.post-list__menu{
  display: flex;
  justify-content: center;
  margin-top: 150px;
  gap: 80px;
}

