.XLogin-img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: linear-gradient(311deg, #E6E7EE 0%, #E5E6EC 100%);
    box-shadow: 5px 5px 20px #CDCDCD, -5px -5px 20px #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.XLogin-img:hover {
    animation: press 0.1s forwards;
}

.XLogin-img:not(:hover){
    animation: release 0.1s forwards;
}

.XLogin-img img {
    width: 50px;
}
