body{
  background-color: #E6E7EE;
  margin: 0;
  font-family: "sofia-pro", sans-serif;
}

a{
  color: #575F6B;
  text-decoration: none;
}

@keyframes press {
  0% {
      box-shadow: 5px 5px 20px #CDCDCD, -5px -5px 20px #FFFFFF;
  }
  12.5% {
      box-shadow: 4px 4px 10px #D1D1D1, -4px -4px 10px #F6F6F6;
  }
  25% {
      box-shadow: 2px 2px 5px #D0D0D0, -2px -2px 5px #F5F5F5;
  }
  50% {
      box-shadow: 1px 1px 3px #B0B0B0, -1px -1px 3px #E0E0E0;
  }
  75% {
      box-shadow: inset 2px 2px 5px #C0C0C0, inset -2px -2px 5px #F0F0F0;
  }
  87.5% {
      box-shadow: inset 4px 4px 10px #C6C4C4, inset -4px -4px 10px #F3F3F3;
  }
  100% {
      box-shadow: inset 5px 5px 20px #c8c9cc, inset -5px -5px 20px #ffffff;
  }
}

@keyframes release {
  0% {
      
      box-shadow: inset 5px 5px 20px #c8c9cc, inset -5px -5px 20px #ffffff;
  }
  12.5%{
      box-shadow: inset 4px 4px 10px #C6C4C4, inset -4px -4px 10px #F3F3F3;
  }
  25% {
      
      box-shadow: inset 2px 2px 5px #C0C0C0, inset -2px -2px 5px #F0F0F0;
  }
  50% {
      box-shadow: 1px 1px 3px #B0B0B0, -1px -1px 3px #E0E0E0;
  }
  75% {
      box-shadow: 2px 2px 5px #D0D0D0, -2px -2px 5px #F5F5F5;
  }
  87.5% {
      box-shadow: 4px 4px 10px #D1D1D1, -4px -4px 10px #F6F6F6;
  }
  100% {
      box-shadow: 5px 5px 20px #CDCDCD, -5px -5px 20px #FFFFFF;
  }
}
